@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html,
body,
#root {
  min-height: 100%;
}

body {
  direction: rtl;
  font-family:
    Vazirmatn,
    Inter,
    sans-serif;

  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

/* Light Theme */

:root {
  --bg: #f8fafc;
  --text: #0f172a;
}

/* Dark Theme */

.dark {
  --bg: #020617;
  --text: #f8fafc;
}

body {
  background: var(--bg);
  color: var(--text);
}